name: Release
on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install frontend dependencies
        working-directory: "Ark Manager"
        run: npm ci

      - name: Build and Sign
        shell: pwsh
        run: |
          # Decode the base64 private key into an environment variable
          $decodedKey = [System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String($Env:TAURI_SIGNING_PRIVATE_KEY))
          
          # Set it as TAURI_SIGNING_PRIVATE_KEY environment variable for the Tauri build
          $Env:TAURI_SIGNING_PRIVATE_KEY = $decodedKey
          
          # Run Tauri build
          npx tauri build
        env:
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ""
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
