name: Release
on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: write
    strategy:
      matrix:
        platform: [windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install frontend dependencies
        working-directory: ./Ark Manager
        run: npm install

      # Debug only, NO writing keys to disk!
      - name: Debug Signing Key
        shell: pwsh
        run: |
          Write-Host "Loaded private key:" 
          if ($env:TAURI_SIGNING_PRIVATE_KEY) {
            Write-Host "YES (first 100 chars):"
            $d = [System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String($env:TAURI_SIGNING_PRIVATE_KEY))
            Write-Host $d.Substring(0,100)
          } else {
            Write-Host "NO"
          }

      - name: Build and Sign
        uses: tauri-apps/tauri-action@v0.6.0
        env:
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectPath: ./Ark Manager
          tagName: ${{ github.ref_name }}
          releaseName: 'BT Ark Server Manager ${{ github.ref_name }}'
          releaseBody: 'See the assets to download this version and install.'
          includeUpdaterJson: true
          updaterJsonPreferNsis: true
